@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#0f0f0f] text-[#f1f1f1] overflow-x-hidden;
  }
}

/* Custom Scrollbar for Webkit */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0f0f0f; 
}
::-webkit-scrollbar-thumb {
  background: #717171; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #a0a0a0; 
}
